@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap');


@media (max-width: 739px) {
    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
       margin: 0;
       background: gray;
   }  
header {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    width: 100vw;
    height: 100px;
    background: rgb(110, 108, 108);
}
.nav-bar {
   
  
    display: flex;
    justify-content: start;
    
     
     
}
.ul-nav {
    
    display: flex;
 list-style-type: none;
 flex-direction: row;
 align-items: center;
 
}

.container-Principal{
    width: 100vw;
    height: 100vh;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;    
}
.rel {
    border: 20px solid rgb(3, 3, 42);
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    font-size: 70px;
    background:radial-gradient(rgb(119, 245, 136), rgb(39, 2, 73), rgb(59, 59, 165));
    width: 300px;
    height: 800px;
    box-shadow: 0px 15px 15px gray;
    border-radius: 50px;
    
}

.texts {
    
    margin-left: 10px;
    margin-top: 120px;
    font-size: 30px;
}
.textSeg {
    margin-left: 10px;
    margin-top: 120px;
    font-size: 30px;
}
.relogio-hr {
    border-radius: 20px;
    width: 245px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 240px;
    background: black;
    font-family: 'Orbitron', sans-serif;
    box-shadow: 5px 5px 0px 1px;
    color:rgb(119, 245, 136);  
}
.relogio-min {
    border-radius: 20px;
    width: 245px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 240px;
    background: black;
    font-family: 'Orbitron', sans-serif;
   box-shadow: 5px 5px 0px 1px;
    color:rgb(119, 245, 136);  
}
.relogio-seg {
    border-radius: 20px;
    width: 245px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 240px;
    background: black;
    font-family: 'Orbitron', sans-serif;
    box-shadow: 5px 5px 0px 1px;
    
    color:rgb(119, 245, 136);  
}
.hora { 
    
    margin-top: 70px;
    margin-left: 0px;
    
    text-shadow: 10px  0px 1px  rgba(41, 184, 48, 0.5);    
}
 
.minutos { 
    
    margin-top: 70px;
    margin-left: 0px;
    
    text-shadow: 10px  0px 1px  rgba(41, 184, 48, 0.5); 
  
}
.segundos {
    margin-top: 70px;
    margin-left: 0px;
  
   
   text-shadow: 10px  0px 1px  rgba(41, 184, 48, 0.5); 
}
footer {
   position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;

  
    background: rgb(110, 108, 108);
    width: 100vw;
    height: 100px;
    
}
.lista {
    border-radius: 10px;
    box-shadow: 0px 0px 5px 5px white;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    background-color: black;
    width: 85vw;
    height: 70px;
    
}
.lista li {
    text-indent: -50px;
    margin-top: 20px;
    color: white;
   font-family: 'Orbitron', sans-serif;
    font-size: 20px;
    
    
}
}

@media (min-width: 740px) {
    .titulo {
        z-index: 5000;
      text-shadow: 4px 1px 2px white;
        font-size: 70px;
        color:rgb(119, 245, 136);  
        font-family: 'Orbitron', sans-serif;
    }


    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
       margin: 0;
       background: gray;
   }  
header {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    width: 100vw;
    height: 100px;
    background: rgb(110, 108, 108);
}
.nav-bar {
   
  
    display: flex;
    justify-content: start;
    
     
     
}
.ul-nav {
    
    display: flex;
 list-style-type: none;
 flex-direction: row;
 align-items: center;
 
}

.container-Principal{
    width: 100vw;
    height: 100vh;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;    
}
.rel {
    border: 20px solid rgb(3, 3, 42);
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 70px;
    background:radial-gradient(rgb(119, 245, 136), rgb(39, 2, 73), rgb(59, 59, 165));
    width: 830px;
    height: 250px;
    box-shadow: 0px 15px 15px gray;
    border-radius: 50px;
    
}

.texts {
    margin-left: 10px;
    margin-top: 120px;
    font-size: 30px;
}
.textSeg {
    margin-left: 10px;
    margin-top: 120px;
    font-size: 30px;
}
.relogio-hr {
    border-radius: 20px;
    width: 245px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 225px;
    background: black;
    font-family: 'Orbitron', sans-serif;
    box-shadow: 5px 5px 0px 1px;
    color:rgb(119, 245, 136);  
}
.relogio-min {
    border-radius: 20px;
    width: 245px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 225px;
    background: black;
    font-family: 'Orbitron', sans-serif;
   box-shadow: 5px 5px 0px 1px;
    color:rgb(119, 245, 136);  
}
.relogio-seg {
    border-radius: 20px;
    width: 245px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 225px;
    background: black;
    font-family: 'Orbitron', sans-serif;
    box-shadow: 5px 5px 0px 1px;
    color:rgb(119, 245, 136);  
}
.hora { 
    
    margin-top: 70px;
    margin-left: 0px;
    
    text-shadow: 10px  0px 1px  rgba(41, 184, 48, 0.5);    
}
 
.minutos { 
    
    margin-top: 70px;
    margin-left: 0px;
    
    text-shadow: 10px  0px 1px  rgba(41, 184, 48, 0.5); 
  
}
.segundos {
    margin-top: 70px;
    margin-left: 0px;
  
   
    text-shadow: 10px  0px 1px  rgba(41, 184, 48, 0.5); 
}
.obj {
    position: absolute;
    margin-top: -280px;
    width: 600px;
    height: 80px;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}
footer {
   position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;

  
    background: rgb(110, 108, 108);
    width: 100vw;
    height: 100px;
    
}
.lista {
    border-radius: 10px;
    box-shadow: 0px 0px 5px 5px white;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    background-color: black;
    width: 80vw;
    height: 70px;
    
}
.lista li {
    text-indent: -50px;
    margin-top: 20px;
    color: white;
   font-family: 'Orbitron', sans-serif;
    font-size: 20px;
    
    
}

}
