@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap');

    body {
       margin: 0;
   }  
header {

    top: 0;
    width: 100vw;
    height: 100px;
    background: gray;
}
.nav-bar {
   
    
    display: flex;
    justify-content: start;
    
     
     
}
.ul-nav {
    
    display: flex;
 list-style-type: none;
 flex-direction: row;
 align-items: center;
 
}

.container-Principal {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;    
}
.rel {
    border: 20px solid rgb(3, 3, 42);
    display: flex;
    justify-content: center;
    align-items: center;
    background:rgb(34, 2, 95);
    width: 700px;
    height: 250px;
    box-shadow: 0px 15px 15px gray;
    border-radius: 50px;
    
}
.relogio {
    padding: 0px;
    font-family: 'Orbitron', sans-serif;
    font-size: 70px;
    margin-top: 0px;
    margin-left: 45px;
    color:rgb(119, 245, 136);
    
}
.hora {
  
  
    text-align: center;
    
    text-shadow: 10px  5px 1px  rgba(0, 100, 156, 0.5);
    margin-left:-90px;
    border-right: 5px solid rgb(53, 52, 52);
    padding: 50px;
}
 
.minutos {
   
   
   
    text-shadow: 10px 5px  1px rgba(0, 100, 156, 0.5);
   border-right: 5px solid rgb(53, 52, 52);
    
    padding: 60px;
}
.segundos {
    
    width: 100px;
    text-shadow: 10px  5px 1px  rgba(0, 100, 156, 0.56);
   
    padding: 10px;
}
footer {
    position: fixed;
    display: flex;
    bottom: 0;
    margin:0;
    background: rgb(110, 108, 108);
    width: 100vw;
    height: 100px;
}
.lista {
    list-style-type: none;
    display: flex;
    
}
.lista li {
    margin-top: 20px;
    color: white;
   font-family: 'Orbitron', sans-serif;
    font-size: 20px;
    margin-left: 18vw;
}

